body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../Info/1.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%; 
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    
  }
  .navbar::after{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, red, transparent)
  }
  .navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }
  
.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}

.text-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

.text-box h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
}

.text-box p {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.6;
}

.character-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-image img {
    max-width: 100%;
    border-radius: 10px;
}
